workflows/instagram_workflow.json
{
  "name": "Instagram Bot TEST - Fixed 2026",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"entry\"][0][\"messaging\"][0][\"message\"][\"is_echo\"]}}",
              "operation": "notEqual",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Filter Echo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "systemMessage": "Вы — ассистент Павла. Отвечайте вежливо на вопросы в Instagram Direct."
        }
      },
      "name": "AI Agent",
      "type": "n8n-nodes-base.aiAgent",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "message": "={{$json[\"output\"]}}"
      },
      "name": "Instagram Send",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Filter Echo", "type": "main", "index": 0}]]
    },
    "Filter Echo": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "AI Agent": {
      "main": [[{"node": "Instagram Send", "type": "main", "index": 0}]]
    }
  }
}
